header{
    height: 83px;
    background: rgba(255, 255, 255, 0.6) !
}

img {
  max-width: 100%;
  height: auto;
  display: block; /* Tar bort små glipor under bilder */
}

.container {
  max-width: 100% !important;
  width: 100% !important;
  padding-left: 15px; /* Behåll lite luft vid kanterna om du vill */
  padding-right: 15px;
}

html, body {
  width: 100%;
  overflow-x: hidden; /* Förhindrar att man kan scrolla i sidled */
}

footer{
    background:rgba(6, 63, 22, 0.6) ;
}
.booking-box{
    background: white;
    padding: 20px;
    border-radius: 20px;
  
 z-index: 100;
}

body{
background:#f8f6f2; 
font-family: 'Georgia', serif;
color:#2f3e34; 
}

.navbar{
background:rgba(255,255,255,0.6) !important;
backdrop-filter: blur(10px);
position:absolute;
width:100%;
z-index:10;
}

.navbar .nav-link{
color:#2f3e34 !important;
font-weight:500;
}

.navbar .nav-link:hover{
color:#d5b565 !important;
z-index: 100;
}


.logo{
height:40px;
border-radius:50%;
z-index: 100;
}


.boka-btn{
background:#d5b565;
color:white;
border:none;
padding:10px 20px;
border-radius:30px;
z-index: 100;
}

.boka-btn:hover{
background:#b8964f;
z-index: 100;
}

.mt{
margin-top: 20px;
color: rgb(0, 0, 0);
}


.footer{
background-color:rgba(27, 70, 39, 0.6) ;   }


.map-section {
  background: #f8f5f2; 
  padding: 50px 0;
}

.map-container {
  width: 100%;
  max-width: 100% ;
  margin: 0 auto;
}

.map-image {
  height: 300px;
  object-fit: cover;

  border: 5px solid rgba(247, 231, 10, 0.4); /* tunn guldram */
  border-radius: 8px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.15); /* svävande effekt */
}
.img-fluid.rounded-circle {
  width: 150px; /* Maxstorlek på desktop */
  height: 150px;
  object-fit: cover;
}

/* På små skärmar (t.ex. Samsung/mobiler) gör vi dem mindre */
@media (max-width: 576px) {
  .img-fluid.rounded-circle {
    width: 80px; 
    height: 80px;
  }
}